body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  color: rgb(5, 56, 55);
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(29, 29, 29);
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #ec6e4c;
  font-weight: bold;
}

a:hover {
  color: #f88565;
  transition: 200ms ease-in-out all;
}

.btn {
  background: #ec6e4c;
  border: #ec6e4c;
}

.btn:hover {
  background: #f88565;
  border: #f88565;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  background-size: 100%;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(9, 154, 151);
  border-radius: 5px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(5, 56, 55);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -28px;
}

.overview {
  margin-bottom: 20px;
}

.weather-forecast {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  color: black;
}

.weather-forecast-day {
  opacity: 0.6;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

.tagline {
  font-size: 12px;
  display: block;
  margin: 0 auto;
  padding: 0px;